{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"editorconfig": false,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"printWidth": 180,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": false,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "scripts-options-markup-styles",
	"svelteStrictMode": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}